h1{
    text-align: center;
}
p{
    text-align: center;
}
form{
    background-color: antiquewhite;
    background-image: url(https://th.bing.com/th/id/R.7a7dd5ee9f27b9c15e16fe73cd61861d?rik=ii278Fggli2Z2Q&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fwil5ONQ.jpg&ehk=wNED3rU%2bWZFxRBJcRINtWjySx6tu1EFJqXq5k8LHEMU%3d&risl=&pid=ImgRaw&r=0);
    background-repeat: no-repeat;
    background-size: cover;
}